.videoPlayer {
  width: 550px;
  display: flex;
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opopacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    .videoPlayer__column:first-child {
      width: 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .videoPlayer__volume {
        width: 70%;
        padding: 0;
      }
    }

    .videoPlayer__column:last-child {
      display: flex;
      align-items: center;
      justify-self: end;
      #jsFullScreen {
        margin-left: 20px;
      }
    }
    .videoPlayer__column:nth-child(2) {
      display: flex;
      justify-self: center;
      align-items: center;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
